<ng-container
  *ngIf="isUsernameSet; then userSet; else userNotSet">
</ng-container>

<ng-template #userSet>

<div>
  Username:
  <input type="text" [(ngModel)]="user">
  <button (click)="start()">Start</button>
</div>

</ng-template>

<ng-template #userNotSet>

<div class="chat-container">
  <div *ngFor="let message of receivedMessages" class="message-box" [class.my-message]="message.user === user" [class.friend-messsage]="message.user !== user">
    <p>{{message.content}}<br><span>{{message.user}} um {{formatDate(message.date)}}</span></p>
  </div>
</div>

</ng-template>
