<div class="app-container">
  <ng-container
    *ngIf="isUsernameSet; then userSet; else userNotSet">
  </ng-container>
</div>
<ng-template #userNotSet>

<div class="username-input">
  Username:
  <input type="text" [(ngModel)]="user">
  <button (click)="start()">Start</button>
</div>

</ng-template>

<ng-template #userSet>

<div class="chat-container">
  <div *ngFor="let message of receivedMessages" class="message-box">
    <div [class.my-message]="message.user === user" [class.friend-message]="message.user !== user">
      <p class="content">{{message.content}}<br></p>
      <span [class.my-time]="message.user === user" [class.friend-time]="message.user !== user">{{message.user}} um {{formatDate(message.date)}}</span>
    </div>
  </div>

  <div class="chatbox-input">
    <input type="text" placeholder="Type a message" [(ngModel)]="message">
    <button (click)="sendMessage()">
      Send
    </button>
  </div>
</div>

</ng-template>
